@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

#error{
    display: none;
}

.name-height{
    height: 100px;
}
.btn{
 
    color: black;
}

.details{
    background-color:skyblue;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second{
    margin-left: 100px;
    margin-top: 100px;
}
.details-img{
    margin-left: 180px;
    margin-top: 20px;
}
.details-div{
    margin-top: 20px;
}
span{
    color: rgb(173, 36, 116);
    font-size: 20px;
}



.more{
    display:none;
}
#more{
    background-color: rgb(94, 94, 151);
    color: aliceblue;
    margin-top: 20px;
}



@media (max-width:540px){
    .details-img{
        margin-left: 0px;
        margin-top: 20px;
    }
    .second{
        margin-left: 0px;
        margin-top: 100px;
    }
    .details{
        background-color:skyblue;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sensor{
        font-size: 10px;
    }
    .span{
       
        font-size: 10px;
    }
    #main{
        width: 300px;
    }
}



@media (max-width:10240px) and (min-width:768px){
    .details-img{
        margin-left: 0px;
        margin-top: 20px;
    }
    .second{
        margin-left: 0px;
        margin-top: 100px;
    }
    .details{
        background-color:skyblue;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sensor{
        font-size: 10px;
    }
    .span{
       
        font-size: 10px;
    }
    #main{
        width: 500px;
    }
}